*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav */
nav{
    
}

nav > div{
    padding: 10px 0px;
}

.navigation{
    padding: 10px 0px;
}

.logo, .login{
    width: calc(100% * (1 / 5) )
}

.login{
    text-align: end;
}

.menu{
    width: calc(100% * (3 / 5))
}

ul.flex-container{
    justify-content: center;
    gap: 50px;
}

/* Jumbotron */
.jumbotron{
    background-color: blue;
    background-image: url('../img/img/jumbo.png');
    background-size: 100%;
    /* TEST */
    height: 680px;
}

.jumbotron-content{
    /* text-align: center; */
    width: 60%;
    /* TEST */
    
}
.jumbotron.flex-container{
    justify-content: center;
    align-items: center;
}
.jumbotron-content.flex-container{
    height: 50%;
    padding: 0 100px;
    text-align: center;
    line-height: 35px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}

.jumbotron-content p{
    font-size: 20px;
}

/* Column */
.column{
    /* TEST */
    background-color: pink;
    height: 500px;
}

.container.flex-container{
    height: 100%;
    justify-content: center;
    align-items: center;
}

.col-img{
    width: 60%;
    /* TEST */
    background-color: lightblue;
    border: 1px dotted black;
}

.col-text{
    width: 40%;
    /* TEST */
    background-color: pink;
    border: 1px dotted black;
}

.col-single-image{
    /* TEST */
    background-color: green;
}

/* Footer */

footer>.container.flex-container.first-footer{
    padding: 10px 0px 30px 0px;
}

footer>.container.flex-container.second-footer{
    margin-top: 30px;
    
}

.left-column{
    width: calc(100% * (1 / 3) );
    /* TEST */
    background-color: #f08080;
    border: 2px dotted black;
}
.right-column{
    width: calc(100% * (2 / 3) );
    /* TEST */
    background-color: #20b2aa;
    border: 2px dotted black;
}

.right-column>div{
    width: calc(100% / 4);
    /* TEST */
    border: 1px dotted white;
}

.right-column.flex-container{
    justify-content: space-between;
}

.second-footer{
    /* TEST */
    background-color: aquamarine;
    height: 30px;

}

.footer-column{
    width: 100%;
    /* TEST */
    height: 50px;
    align-items: center;
}
.footer-column-content{
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* TEST */
    height: 100%;
}

span{
    padding: 5px;
    /* TEST */
    background-color: pink;
    border: 1px dotted black;
}

.discord-button a{
    font-size: 20px;
}

/* Common */
.container{
    width: 80%;
    margin: auto;
}

.flex-container{
    display: flex;
}

.btn{
    border-radius: 25px;
    padding: 13px 18px;
}

.btn-white{
    background-color: white;
    color: black;
}

.btn-dark{
    background-color: #23272a;
    color: white;
}

body{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
}

header{
    color: white;
    background-color: #255ee9;
}

ul{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

h1{
    font-size: 65px;
    padding: 50px;
}

section{
    /* TEST */
    height: 600px;
}

section:nth-child(even){
    background-color: #d3d3d3;
}

footer{
    background-color: #23272a;
}
